# Virtual environment
venv/
venv/*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Local settings
local_settings.py

# Media files
/media

# Static files
/static

# Environment variables file
.env

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pytest cache
.pytest_cache/
